.main-content {
    top: 0;
    overflow: auto;
    background-image: url(../../public/stock-exchange.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

@supports (-webkit-touch-callout : none) {
    .main-content {
        background-attachment: scroll
    }
}

@supports not (-webkit-touch-callout : none) {
    .main-content {
        background-attachment: fixed;
    }
}