.navigation-bar {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: brown;
}

.logo {
    position: absolute;
}
.navigation-bar .nav-tabs {
    margin-right: 15px;
}

.navigation-bar .nav-tabs a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 10px;
    float: right;
    font-weight: 700;
    margin: 10px 0 0 0;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
  